@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-eggshell-white text-dark-spruce font-sans antialiased overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-semibold text-dark-spruce;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-eggshell-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-dusty-olive rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-spruce;
}